body {
    background-image: url(../assets/marvel-bg.jpg);
}

.header {
    text-align: center;
}

#marvel {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: #1e272e;
    border-radius: 4rem;
    padding: 10px;
}
#marvel-logo {
    width: 400px;
    height: 284px;
}
@media (max-width: 767px) {
    #marvel-logo {
        width: 100%; 
        height: auto;
    }
}
.main {
    width: 95%;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
}
  
.search__box {
float: left;
width: 0;
height: 4rem;
background: #0e1b25;
color: #f7f7f7;
font-size: 1.5rem;
border-radius: 2rem;
outline: none;
border: none;
position: relative;
padding: 1rem;
opacity: 1;
transition: all .75s ease-in;
cursor: pointer;
}
  
.search__icon {
box-sizing: border-box;
font-size: 2.5rem;
display: inline-block;
margin-left: .8rem;
margin-top: 0;
cursor: pointer;
position: absolute;
color: #fa983a;
transition: all .25s ease-in;
padding: .7rem;
border-radius: 50%;
}
  
.main:hover > .search__box {
width: 93%;
padding: 0 1rem;
}

.main:hover > .search__icon {
background-color: #eee;
}

.show {
width: 93%;
border: 1px solid red;
}

#comics{
gap: 2rem;
justify-content: center;
margin-top: 1.5rem;
}
.card-title {
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.card-text {
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.creators-wrap {
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
height: 3.8rem;
}

.wrap-container {
max-height: 70vh;
overflow-y: scroll;
overflow-x: hidden;
margin: 1rem;
}


#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #0e1b25;
	border-radius: 10px;
}

#style-scroll::-webkit-scrollbar
{
	width: 10px;
    border-radius: 10px;
	background-color: #0e1b25;
}

#style-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FFF;
	background-image: linear-gradient(
        136deg,
        #9c4141 40%,
        #911919 75%,
        #de5454 60%
    );
}